{% extends 'hospital/base.html' %}
{%block content%}
<div id = "content">
  <h1>예약 날짜 수정 {{user}}</h1>
  <form action = "." method ="post">{%csrf_token%}
    {%if form.errors%}
    <p class = "errornote">Wrong! Please correct the errors(s) below. </p>
    {%endif%}

    <p>예약 날짜를 수정합니다.</p>
    <fieldset class = "aligned">
      <div class ="form-row">
        {{form.reservation_Date.label_tag}}{{form.reservation_Date}}
      </div>

    </fieldset>
    <div class = "submit-row">
      <input type = "submit" value="Submit"/>
    </div>

    <script type ="text/javascript">document.getElementById('id_title').focus();</script>
  </form>
</div>

{% endblock %}
